$bgcolor: #efefef;
$borderColor: #ddd;
$textColor: #337ac4;
$buttonColor: #c7ddef;
$buttonHoverColor: #ccc;

.itemStatusFilter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $bgcolor;
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid $borderColor;
    border-radius: 5px 5px 0 0;
}

.custom-button {
    color: $textColor;
    padding: 5px 0;
    &:hover {
        background-color: $buttonHoverColor;
        color: $textColor;
    }
}

.active {
    background-color: $buttonColor;
}