$borderColor: #ddd;
$bgcolorBlockUser: #f2dede;

.custom-table {
    border: 1px solid $borderColor;
    margin-bottom: 0;
}

thead > tr > th {
    cursor: pointer;
}

.block {
    background-color: $bgcolorBlockUser;
}