$borderColor: #ddd;
$bgcolorBlockUser: #f2dede;
$colorTextUser: #337ac4;

.custom-table {
    border: 1px solid $borderColor;
    margin-bottom: 0;
}

thead > tr > th {
    cursor: pointer;
}

.block {
    background-color: $bgcolorBlockUser;
}

.table__user {
    cursor: pointer;
    color: $colorTextUser;
}